.ex{
    .navbar__links-li-icon::nth-of-child(1) {
}

.light-theme{
        /* ----- Colors ------ */
        --color-brand: #ff69b4;;
        --color-brand-dark: #c25189;
        --color-brand-alt: lightblue;
        --color-white: #fff;
        --color-black: #000;
        --color-gray: gray;
        --color-gray-light: lightgray;
        /*  the colors below have a dark themed version: refer to: REF: A001 (line +- 55  ) */
        --color-text-1: #202020;
        --color-text-2: #414141;
        /* --color-bg-1: #f1f1f1; */
        --color-bg-1: #fdfdfd;
        --color-bg-2: #ebebeb;
        --color-bg-dark: #1d1d1d;
        --color-bg-dark-1: #303030;
        --color-bg-dark-text: #f7f7f7;
        --color-bg-dark-dark: #000e24;
        }

.dark-theme{
            --color-bg-dark-dark: #0f1f44;
            --color-text-1: #f1f1f1;
            --color-text-2: #ebebeb;
            --color-bg-1: #020f24;
            --color-bg-2: #021430;
            --color-bg-dark: #f7f7f7;
            --color-bg-dark-1: #e0dfdf;
            --color-bg-dark-text: #1d1d1d;
            /* below colors, are the same in light theme */
            --color-brand: #ff69b4;;
            --color-brand-dark: #c25189;
            --color-brand-alt: lightblue;
            --color-white: #fff;
            --color-black: #000;
            --color-gray: gray;
            --color-gray-light: lightgray;
}